<script>
    // @ts-nocheck

    import WhichColor from "./whichColor.svelte";
    import ColoredBox from "./coloredBox.svelte";
</script>

<head>
    <title>InCA-WhichColor</title>
</head>

<!--
NEXT:
- solve difference of rectangle size between linux and android
- parameterize 
  - size of colored boxes (currently differs on cell phone and linux machine)
  - number of colored Boxes displayed
  - name of user
- ADD a home menu to select subject (with default values being [Boule,Beige,Lorenzo,Tina])
-->

<center>
    <h1>InCA-WhichColor</h1>
    <WhichColor width="1000" height="500" />
    <!--<p align=right> (last Edited by <a href="https://barbay.cl">J.y B.y</a>)</p>-->
</center>

<style>
    h1 {
        align-content: center;
    }
</style>
