<script>
    export let color = "red";
    export let name = "red";
    export let width = 100;
    export let height = 100;
</script>

<center>
    <svg viewBox="0 0 {width} {height}">
        <rect class="coloredBox" fill={color} {width} {height} />
    </svg>
    {name}
</center>

<style>
    .coloredBox {
        stroke-width: 1;
        stroke: black;
    }
</style>
