<script>
    import ColoredBox from "./coloredBox.svelte";
    import { SendToFirebase } from "$lib/firebase";
    export let colors_available = ["black", "white", "red", "blue", "green"];
    export let number_of_colors_to_display = 2;
    export let width = 1000;
    export let height = 1000;


    // Local Variables
    let left_color = 0;
    let right_color = 1;

    // Functions
    /**
     * @param {number} max
     */
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }
    function setRandomColors() {
        left_color = getRandomInt(colors_available.length);
        // console.log(left_color);
        let color_increment = getRandomInt(colors_available.length - 2) + 1;
        // console.log(color_increment);
        right_color = (left_color + color_increment) % colors_available.length;
        // console.log(right_color);
    }
    /**
     * @param {string | undefined} name
     * @param {number} position
     */
    async function boxSelected(name, position) {
        var utterance = new SpeechSynthesisUtterance(name);
        window.speechSynthesis.speak(utterance);
        await SendToFirebase(
			name
		);
        console.log('New Deploy test 3')
        console.log("button pressed: " + name);
        setRandomColors();
    }
</script>

<table>
    <tr>
        <td
            on:click={() => {
                boxSelected(colors_available[left_color], 0);
            }}
            width={width / number_of_colors_to_display}
        >
            <ColoredBox
                color={colors_available[left_color]}
                name={colors_available[left_color]}
                width={width / number_of_colors_to_display}
                {height}
            />
        </td>
        <td
            on:click={() => {
                boxSelected(colors_available[right_color], 1);
            }}
            width={width / number_of_colors_to_display}
        >
            <ColoredBox
                color={colors_available[right_color]}
                name={colors_available[right_color]}
                width={width / number_of_colors_to_display}
                {height}
            />
        </td>
    </tr>
</table>

<style>
    td {
        align-content: center;
    }
    table {
        border-collapse: separate;
        border-spacing: 100px;
    }
</style>
